@charset "UTF-8";

.clear {
	clear: both;	
}

.slot {
	float: left;
	display: block;
	width: 40px;
	height: 60px;
	margin: 5px;	
}

.slot input {
	margin: 0 0 0 5px;
}

.editor {
	position: fixed;
	top: 50px;
	left: 280px;	
	padding: 25px;
	border: 1px solid #CECECE;		
	-moz-border-radius: 25px;
	border-radius: 25px;
	-moz-box-shadow: 10px 10px 5px #AEAEAE;
	-webkit-box-shadow: 10px 10px 5px #AEAEAE;
	box-shadow: 10px 10px 5px #CCCCCC;
	/*display: block;
	/*height: 200px;
	width: 200px;*/
	min-width: 300px;
	max-width: 400px;
	
}

.legend {
	font-size: 1em;
	font-weight: bold;
	width: 100%;
	border-bottom: 2px solid #cecece;
	margin: 0 0px 15px;
}