.character .div, .character .span { 
	position: relative;
	width: inherit;
	height: inherit;
}

.character {
	/*position: absolute;
	top: 100px;
	left: 40%;*/ 
	float: left;
	
	display: block;
	width: 172px;
	height: 332px;
	background: url('../images/character_background.png') no-repeat -172px 0px;
}

.character legend {
	position: absolute;
	margin: 5px 10px;
	font-weight: bold;
	color: #cceecc;
}

.equipment {
 
    background: url("../images/equipment_slots.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 332px;
    left: 259px;
    position: absolute;
    top: -10px;
    width: 172px;
}

.item , .item-small, .eq-quali {
	position: absolute;
	display: block;
	height: 40px;
	width: 40px;
	/*background: #FF0000;	*/
}

.item-small {
	height: 29px;
	width: 29px;
}

/* equipment fields */
.eq-weapon { top: 139px; left: 13px; 
    border-radius: 8px;
    box-shadow: 2px -2px 5px #1B1B1B;
}
.eq-head { top: 29px; left: 66px; 
    border-radius: 8px;
    box-shadow: 2px -2px 5px #1B1B1B;
}
.eq-chest { top: 84px; left: 66px; 
    border-radius: 8px;
    box-shadow: 2px -2px 5px #1B1B1B;
}
.eq-shoulders { top: 84px; left: 120px; 
    border-radius: 8px;
    box-shadow: 2px -2px 5px #1B1B1B;
}
.eq-waist { top: 139px; left: 66px; 
    border-radius: 8px;
    box-shadow: 2px -2px 5px #1B1B1B;
}
.eq-hands { top: 139px; left: 119px; 
    border-radius: 8px;
    box-shadow: 2px -2px 5px #1B1B1B;
}
.eq-legs { top: 194px; left: 66px; 
    border-radius: 8px;
    box-shadow: 2px -2px 5px #1B1B1B;
}
.eq-feet { top: 249px; left: 66px; 
    border-radius: 8px;
    box-shadow: 2px -2px 5px #1B1B1B;
}
.eq-necklace { top: 84px; left: 13px; 
    border-radius: 8px;
    box-shadow: 2px -2px 5px #1B1B1B;
}
.eq-ring1 { top: 262px; left: 128px; 
    border-radius: 8px;
    box-shadow: 2px -2px 5px #1B1B1B;
}
.eq-ring2 { top: 293px; left: 128px; 
    border-radius: 8px;
    box-shadow: 2px -2px 5px #1B1B1B;
}
.eq-offhand { top: 194px; left: 13px; 
    border-radius: 8px;
    box-shadow: 2px -2px 5px #1B1B1B;
}
.eq-exp { top: 271px; left: 13px; 
    border-radius: 8px;
    box-shadow: 2px -2px 5px #1B1B1B;
}
.eq-mount { top: 194px; left: 119px; 
    border-radius: 8px;
    box-shadow: 2px -2px 5px #1B1B1B;
}

/* equipment quality */
.eq-quali { background-image: url('../images/item_quality.png') }
.eq-green { background-position: 0px 0px !important; }
.eq-blue { background-position: -40px 0px !important; }
.eq-purple { background-position: -80px 0px !important; }
.eq-gold { background-position: -120px 0px !important; }
.eq-teal { background-position: -160px 0px !important; }
.eq-violet { background-position: -200px 0px !important; }

/* equipment position indexes */
.eq-index-0 { background-position: 0px 0px !important; }
.eq-index-1 { background-position: -40px 0px !important; }
.eq-index-2 { background-position: -80px 0px !important; }
.eq-index-3 { background-position: -120px 0px !important; }
.eq-index-4 { background-position: -160px 0px !important; }
.eq-index-5 { background-position: -200px 0px !important; }
.eq-index-6 { background-position: -240px 0px !important; }
.eq-index-7 { background-position: -280px 0px !important; }
.eq-index-8 { background-position: -320px 0px !important; }
.eq-index-9 { background-position: -360px 0px !important; }
.eq-index-10 { background-position: -400px 0px !important; }
.eq-index-11 { background-position: -440px 0px !important; }
.eq-index-12 { background-position: -480px 0px !important; }
.eq-index-13 { background-position: -520px 0px !important; }
.eq-index-14 { background-position: -560px 0px !important; }
.eq-index-15 { background-position: -600px 0px !important; }
.eq-index-16 { background-position: -640px 0px !important; }
.eq-index-17 { background-position: -680px 0px !important; }
.eq-index-18 { background-position: -720px 0px !important; }
.eq-index-19 { background-position: -760px 0px !important; }
.eq-index-20 { background-position: -800px 0px !important; }
.eq-index-21 { background-position: -840px 0px !important; }
.eq-index-22 { background-position: -880px 0px !important; }
.eq-index-23 { background-position: -920px 0px !important; }
.eq-index-24 { background-position: -960px 0px !important; }
.eq-index-25 { background-position: -1000px 0px !important; }
.eq-index-26 { background-position: -1040px 0px !important; }
.eq-index-27 { background-position: -1080px 0px !important; }
.eq-index-28 { background-position: -1120px 0px !important; }
.eq-index-29 { background-position: -1160px 0px !important; }
.eq-index-30 { background-position: -1200px 0px !important; }
.eq-index-31 { background-position: -1240px 0px !important; }

/* equipment icons */
/* assassin */
.eq-weapon-assassin { background-image: url('../images/equipment/assassin_weapon.png'); }
.eq-head-assassin { background-image: url('../images/equipment/assassin_head.png'); }
.eq-chest-assassin { background-image: url('../images/equipment/assassin_chest.png'); }
.eq-shoulders-assassin { background-image: url('../images/equipment/assassin_shoulders.png'); }
.eq-waist-assassin { background-image: url('../images/equipment/assassin_waist.png'); }
.eq-hands-assassin { background-image: url('../images/equipment/assassin_hands.png'); }
.eq-legs-assassin { background-image: url('../images/equipment/assassin_legs.png'); }
.eq-feet-assassin { background-image: url('../images/equipment/assassin_feet.png'); }
/* bard */
.eq-weapon-bard { background-image: url('../images/equipment/bard_weapon.png'); }
.eq-head-bard { background-image: url('../images/equipment/bard_head.png'); }
.eq-chest-bard { background-image: url('../images/equipment/bard_chest.png'); }
.eq-shoulders-bard { background-image: url('../images/equipment/bard_shoulders.png'); }
.eq-waist-bard { background-image: url('../images/equipment/bard_waist.png'); }
.eq-hands-bard { background-image: url('../images/equipment/bard_hands.png'); }
.eq-legs-bard { background-image: url('../images/equipment/bard_legs.png'); }
.eq-feet-bard { background-image: url('../images/equipment/bard_feet.png'); }
/* mage */
.eq-weapon-mage { background-image: url('../images/equipment/mage_weapon.png'); }
.eq-head-mage { background-image: url('../images/equipment/mage_head.png'); }
.eq-chest-mage { background-image: url('../images/equipment/mage_chest.png'); }
.eq-shoulders-mage { background-image: url('../images/equipment/mage_shoulders.png'); }
.eq-waist-mage { background-image: url('../images/equipment/mage_waist.png'); }
.eq-hands-mage { background-image: url('../images/equipment/mage_hands.png'); }
.eq-legs-mage { background-image: url('../images/equipment/mage_legs.png'); }
.eq-feet-mage { background-image: url('../images/equipment/mage_feet.png'); }
/* marksman */
.eq-weapon-marksman { background-image: url('../images/equipment/marksman_weapon.png'); }
.eq-head-marksman { background-image: url('../images/equipment/marksman_head.png'); }
.eq-chest-marksman { background-image: url('../images/equipment/marksman_chest.png'); }
.eq-shoulders-marksman { background-image: url('../images/equipment/marksman_shoulders.png'); }
.eq-waist-marksman { background-image: url('../images/equipment/marksman_waist.png'); }
.eq-hands-marksman { background-image: url('../images/equipment/marksman_hands.png'); }
.eq-legs-marksman { background-image: url('../images/equipment/marksman_legs.png'); }
.eq-feet-marksman { background-image: url('../images/equipment/marksman_feet.png'); }
/* priest */
.eq-weapon-priest { background-image: url('../images/equipment/priest_weapon.png'); }
.eq-head-priest { background-image: url('../images/equipment/priest_head.png'); }
.eq-chest-priest { background-image: url('../images/equipment/priest_chest.png'); }
.eq-shoulders-priest { background-image: url('../images/equipment/priest_shoulders.png'); }
.eq-waist-priest { background-image: url('../images/equipment/priest_waist.png'); }
.eq-hands-priest { background-image: url('../images/equipment/priest_hands.png'); }
.eq-legs-priest { background-image: url('../images/equipment/priest_legs.png'); }
.eq-feet-priest { background-image: url('../images/equipment/priest_feet.png'); }
/* protector */
.eq-weapon-protector { background-image: url('../images/equipment/protector_weapon.png'); }
.eq-head-protector { background-image: url('../images/equipment/protector_head.png'); }
.eq-chest-protector { background-image: url('../images/equipment/protector_chest.png'); }
.eq-shoulders-protector { background-image: url('../images/equipment/protector_shoulders.png'); }
.eq-waist-protector { background-image: url('../images/equipment/protector_waist.png'); }
.eq-hands-protector { background-image: url('../images/equipment/protector_hands.png'); }
.eq-legs-protector { background-image: url('../images/equipment/protector_legs.png'); }
.eq-feet-protector { background-image: url('../images/equipment/protector_feet.png'); }
/* vampire */
.eq-weapon-vampire { background-image: url('../images/equipment/vampire_weapon.png'); }
.eq-head-vampire { background-image: url('../images/equipment/vampire_head.png'); }
.eq-chest-vampire { background-image: url('../images/equipment/vampire_chest.png'); }
.eq-shoulders-vampire { background-image: url('../images/equipment/vampire_shoulders.png'); }
.eq-waist-vampire { background-image: url('../images/equipment/vampire_waist.png'); }
.eq-hands-vampire { background-image: url('../images/equipment/vampire_hands.png'); }
.eq-legs-vampire { background-image: url('../images/equipment/vampire_legs.png'); }
.eq-feet-vampire { background-image: url('../images/equipment/vampire_feet.png'); }
/* warrior */
.eq-weapon-warrior { background-image: url('../images/equipment/warrior_weapon.png'); }
.eq-head-warrior { background-image: url('../images/equipment/warrior_head.png'); }
.eq-chest-warrior { background-image: url('../images/equipment/warrior_chest.png'); }
.eq-shoulders-warrior { background-image: url('../images/equipment/warrior_shoulders.png'); }
.eq-waist-warrior { background-image: url('../images/equipment/warrior_waist.png'); }
.eq-hands-warrior { background-image: url('../images/equipment/warrior_hands.png'); }
.eq-legs-warrior { background-image: url('../images/equipment/warrior_legs.png'); }
.eq-feet-warrior { background-image: url('../images/equipment/warrior_feet.png'); }
