/* the overlayed element http://jquerytools.org/demos/overlay/index.html*/
.simple_overlay {
	/* must be initially hidden */
	display:none;
    left-padding: 400px;
	/* place overlay on top of other elements */
	_z-index:10000;
	/* styling */
	background-color:#333;
	width:200px;
	min-height:100px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;
}
 
/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url(close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

 /* styling for elements inside overlay */
.details {
	position:absolute;
	top:15px;
	right:15px;
	font-size:11px;
	color:#fff;
	width:50px;
}
 
.details h3 {
	color:#aba;
	font-size:15px;
}


