html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: #000000;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

#page {
    position: absolute;
    background: #000000;
    width: 1024px;
    height: 100%;
    left: 50%;
    margin: 0;
    margin-left: -512px;
}

#content {
    background: #FFFFFF;
    margin: 0;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

#theme-left {
    background: url('../img/bg_main_patri.jpg') no-repeat;
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

#theme-right {
    background: url('../img/bg_main_priester.jpg') no-repeat top right;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

.container-yellow {
    background: none repeat scroll 0 0 #FFF000;
    color: #000000;
}

.container {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 80px 0;
    position: relative;
}

.menu-link.menu-marked {
    background: none repeat scroll 0 0 #444444;
}

.menu-item-active {
    color: #FFF000;
}

.menu-link.menu-marked:hover {
    background: none repeat scroll 0 0 #666666;
}

.menu-link {
    border-radius: 5px;
    font-weight: 300;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 100ms ease 0s;
}

.menu-link:hover {
    background: none repeat scroll 0% 0% rgb(51, 51, 51);
    text-decoration: none;
}

.menu-link:active {
    background: none repeat scroll 0% 0% rgb(51, 51, 51);
    text-decoration: none;
    color: #FF9900;
}

.menu-item {
    display: inline-block;
    font-family: "Helvetica, Arial; padding : 0 15 px;
}

.menu-list {
    float: right;
    margin-top: 15px;
    margin-right: 20px;

}

.menu-stats {
    float: right;
    margin-top: 3px;
    margin-right: 3px;
    font-size: 11px;
    font-family: sans-serif;
    color: #FFffff;
}

.menu-item li {
    background: none repeat scroll 0 0 #333333;
    color: #CCCCCC;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    list-style: none outside none;
    position: relative;
}

#menu-list {
    position: relative;
    display: inline-block;
    list-style: none;

    font-weight: bold;
    background: #1B1B1B;
    color: #FFFFFF;
    line-height: 20px;

}

#untermenu {
    position: absolute;
    background: none repeat scroll 0 0 #ffffff;
    display: none;
    padding: 0;
}

#menu-list li:hover ul {
    display: block;
}

#menu-list li ul li {
    display: block;
    border-top: 1px solid #1b1b1b;
}

#menu-list li ul li a {
    white-space: nowrap;
}

#menu-list li a:hover {
    color: #FFF;
}

#menu-list li a {
    color: #cccccc;
    padding: 4px 12px;
}

#logo {
    color: #FF9900;
    cursor: pointer;
    font-size: 21px;
    font-weight: normal;
    line-height: 71px;
}

.container-inner {
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 14px;
    clear: both;

    background-color: #1b1b1b;
    margin: 0 auto;

    padding: 0 5px;
    position: relative;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.6);
}

.container-mitte {
    margin-top: 20px;
    position: relative;

}

#top {
    background: none repeat scroll 0 0 #1b1b1b;
    color: #FFFFFF;
    height: 50px;
    /*position: fixed;*/
    top: 0;
    width: 100%;
    z-index: 1000;
}

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: absolute;
    top: 15%;
    left: 25%;

    padding: 16px;
    border: 16px solid #141414;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

.white_content_login {
    background-color: #FFFFFF;
    border: 16px solid #141414;
    display: none;
    height: 20%;
    left: 10%;
    overflow: auto;
    padding: 16px;
    position: absolute;
    top: 15%;
    width: 75%;
    z-index: 1002;
}

#overview {
    background-color: #FFF;
    border: 1px solid #BAB5A6;
    margin-top: 10px;
    font-family: verdana;
    font-size: 11px;
    display: inline-block;

}

#overview thead {
    background: url("../img/block_kopf.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color: #F4F2EE;
}

#overview thead a {
    color: #f1fcff;
}

#overview th,
#overview td {
    padding: 4px 8px;

}

#overview .gerade, #overview tr.even td {
    background: #FFFFFF;
}

#overview .ungerade, #overview tr.odd td {
    background: #F4F2EE;
}

a {
    color: #6E5513;
    text-decoration: none;
}

#header {
    background-color: #cccccc;
    float: left;
    font-size: 12px;
    margin: 2px 2px 2px 2px;
}

.debug {
    _display: none;
    background-color: #FFC;
    border: 1px solid #F00;
}

.debug legend {
    font-weight: bold;
    color: #900;
}

#navi {
    padding: 0;
    margin: 8px 2px;
}

#navi li {
    position: relative;
    display: inline-block;
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    background: #1B1B1B;
    color: #CCC;
    line-height: 20px;

}

#navi li a {
    color: #CCC;
    padding: 4px 12px;
}

#navi li ul {
    position: absolute;
    display: none;
    padding: 0;
}

#navi li:hover ul {
    display: block;
}

#navi li ul li {
    display: block;
    border-top: 1px solid #94928C;
}

#navi li ul li a {
    white-space: nowrap;
}

#navi li a:hover {
    color: #FFF;
}

#settings ul {
    margin: 0;
    padding: 0;
}

#settings ul li {
    display: inline-block;
}

#settings ul li label {
    display: block;
}

#settings ul li input {
    padding: 0;
    width: 128px;
}

.rechts {
    float: right;
    width: 250px;
}

.rechtssan {

    width: 350px;
    float: left;
}

.links {
    display: inline-block;
}

#kategorien ul li {
    font-family: verdana;
    border: none;
    margin: 0;
    outline: medium none;
    padding: 0;
}

.message {
    display: block;
    margin: 32px;
    padding: 32px;
    font-size: 14pt;
    font-weight: bold;
    color: #1B1B1B;
    text-align: center;
    background: #FFC;
    border: 1px solid #BAB5A6;
}

table {
    background-color: #FFF;
    border: 1px solid #BAB5A6;
}

fieldset {
    background-color: #FFF;
    border: 1px solid #BAB5A6;
    padding: 5px 5px;
    margin-bottom: 16px;
}

fieldset #infobox1 {
    height: 280px;
    margin: 10px;
}

fieldset table {
    border: none;
}

fieldset legend {
    font-size: 10pt;
    color: #1B1B1B;
    padding: 0 5px;
}

fieldset ul {
    padding: 0;
}

fieldset ul li {
    list-style: none;
}

fieldset ul li label {
    display: inline-block;
    width: 120px;
}

fieldset ul li b {
    line-height: 22px;
}

fieldset ul li ul {
    padding-left: 16px;
}

fieldset ul li ul li {
    list-style: circle;
}

fieldset input,
fieldset select,
fieldset textarea {
    border: 1px solid #aba;
    background: #FFE;
    margin: 2px;
    color: #1B1B1B;
}

fieldset input:hover,
fieldset select:hover,
fieldset textarea:hover {
    border: 1px solid #a1d99a;
}

fieldset input:focus,
fieldset select:focus,
fieldset textarea:focus {
    border: 1px solid #83d679;
}

fieldset button {
    border: 1px solid #1B1B1B;
    background: #1B1B1B;
    color: #BAB5A6;
    font-weight: bold;
    padding: 1px 8px;
    cursor: pointer;
}

fieldset button:hover {
    color: #fff;
    background: #BAB5A6;
    border: 1px solid #1B1B1B;
}