  .xbtooltip {
    display: none;
    position: absolute;
    background-color: #fff;
    }


.d3-color-orange, .d3-color-orange {
    color: #BB67FF !important;
}


.gear-slots li {
    display: block;
    height: 36px;
    outline: medium none;
    position: absolute;
    text-align: center;
    width: 36px;
}

 label {
display: inline-block;
width: 5em;
}


.ui-tooltip {

	background: none repeat scroll 0 0 #100F10;
	position: absolute;
    border: 1px solid #322A20;
    border-radius: 2px;
    box-shadow: 0 0 10px #000000;
    opacity: 0.9;
    padding: 0px;
	


}

.profile-sheet .gear-bonuses .header-3 {
 
    color: #D4B473;
    padding-bottom: 5px;
    width: 290px;
}


.header-3 {
    font: 18px "Exocet Blizzard Light","Palatino Linotype","Times",serif;
    text-transform: uppercase;
}

.paperdoll {
    min-height: 490px;
    position: absolute;
    right: 4px;
    top: 245px;
    width: 705px;
}
.paperdoll .weapon-flourish {
    background-repeat: no-repeat;
    height: 166px;
    position: absolute;
    width: 128px;
}
.paperdoll .weapon-flourish.main-hand-flourish {
    left: 200px;
    top: 258px;
}
.paperdoll .weapon-flourish.off-hand-flourish {
    left: 416px;
    top: 258px;
}
.paperdoll .weapon-flourish.elemental-arcane {
    background-image: url("../../images/profile/hero/weapon-elements/arcane.png");
}
.paperdoll .weapon-flourish.elemental-cold {
    background-image: url("../../images/profile/hero/weapon-elements/cold.png");
}
.paperdoll .weapon-flourish.elemental-lightning {
    background-image: url("../../images/profile/hero/weapon-elements/lightning.png");
}
.paperdoll .weapon-flourish.elemental-fire {
    background-image: url("../../images/profile/hero/weapon-elements/fire.png");
}
.paperdoll .weapon-flourish.elemental-poison {
    background-image: url("../../images/profile/hero/weapon-elements/poison.png");
}
.paperdoll .weapon-flourish.elemental-holy {
    background-image: url("../../images/profile/hero/weapon-elements/holy.png");
}
.ie6 .paperdoll .weapon-flourish {
    display: none;
}
.paperdoll .gear-slots {
    margin: 0 0 0 189px;
    position: relative;
    z-index: 3;
}

.followers .d3-icon-item, .followers .icon-item-gradient, .followers .icon-item-inner {
    border-radius: 3px;
}
.paperdoll .gear-slots .item-dye {
    background: url("../../images/profile/hero/bg-dye.png") no-repeat scroll 0 -1px rgba(0, 0, 0, 0);
    bottom: -1px;
    display: block;
    height: 21px;
    left: -5px;
    position: absolute;
    width: 21px;
}
.paperdoll .gear-slots .item-dye img {
    height: 19px;
    width: 19px;
}
.paperdoll .gear-slots .empty-icon {
    border: medium none;
    box-shadow: none;
    cursor: help;
    padding: 1px;
}
.paperdoll .gear-slots .empty-icon .icon-item-inner {
    border: 0 none;
    box-shadow: none;
    padding: 1px;
}
.paperdoll .gear-labels {
    left: 0;
    min-height: 490px;
    position: absolute;
    top: 0;
    width: 700px;
    z-index: 2;
}
.paperdoll .gear-labels .gear-label {
    font-size: 11px;
    padding-right: 5px;
    position: absolute;
    width: 186px;
}

.paperdoll .gear-labels .gear-label .item-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 186px;
}
.paperdoll .gear-labels .bonus-value, .paperdoll .gear-labels .weapon-dps {
    color: #00FF00;
    display: block;
    font-size: 14px;
    position: relative;
    text-shadow: 1px 1px 0 #000000;
}
.paperdoll .gear-labels .weapon-dps {
    color: #C6AA75;
    font-size: 11px;
    margin-bottom: -4px;
    top: -2px;
}
.paperdoll .gear-labels .weapon-dps .value {
    font-size: 16px;
}
.paperdoll .gear-labels .bonus-value.long-bonus {
    font-size: 11px;
    line-height: 12px;
    top: 2px;
}
.paperdoll .gear-labels .bonus-value p {
    margin: 0;
}
.paperdoll .gear-labels .bonus-value p .value {
    color: #D7CBB7;
    font-size: 14px;
}
.paperdoll .gear-labels .slot-head, .paperdoll .gear-labels .slot-neck, .paperdoll .gear-labels .slot-bracers, .paperdoll .gear-labels .slot-waist, .paperdoll .gear-labels .slot-feet, .paperdoll .gear-labels .slot-rightFinger, .paperdoll .gear-labels .slot-offHand {
    right: 0;
}
.paperdoll .gear-labels .slot-shoulders, .paperdoll .gear-labels .slot-torso, .paperdoll .gear-labels .slot-hands, .paperdoll .gear-labels .slot-legs, .paperdoll .gear-labels .slot-leftFinger, .paperdoll .gear-labels .slot-mainHand {
    left: 0;
    text-align: right;
}
.paperdoll .gear-labels .slot-head {
    top: 10px;
}
.paperdoll .gear-labels .slot-neck {
    top: 60px;
}
.paperdoll .gear-labels .slot-bracers {
    top: 120px;
}
.paperdoll .gear-labels .slot-waist {
    top: 180px;
}
.paperdoll .gear-labels .slot-rightFinger {
    top: 240px;
}
.paperdoll .gear-labels .slot-offHand {
    top: 300px;
}
.paperdoll .gear-labels .slot-feet {
    top: 360px;
}
.paperdoll .gear-labels .slot-shoulders {
    top: 30px;
}
.paperdoll .gear-labels .slot-torso {
    top: 90px;
}
.paperdoll .gear-labels .slot-hands {
    top: 150px;
}
.paperdoll .gear-labels .slot-leftFinger {
    top: 210px;
}
.paperdoll .gear-labels .slot-legs {
    top: 270px;
}
.paperdoll .gear-labels .slot-mainHand {
    top: 330px;
}
.paperdoll .gear-labels .item-effects {
    font-size: 11px;
    margin-top: 0;
}
.paperdoll .gear-labels .item-effects li {
    white-space: nowrap;
}
.paperdoll .gear-labels .item-effects li.full-socket {
    padding-top: 0;
}
.paperdoll .gear-labels .item-effects li .gem {
    display: inline-block;
    float: none;
    margin-bottom: -4px;
}
.paperdoll .gear-labels .item-effects li .socket-effect {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    max-width: 150px;
    overflow: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.paperdoll .d3-icon-item-gray {
    border-color: #56402C;
}
.paperdoll .d3-icon-item-gold {
    border-color: #FDCC00;
}
.paperdoll .d3-icon-item-blue {
    border-color: #6BA9BA;
}
.paperdoll .d3-icon-item-yellow {
    border-color: #B1A73C;
}
.paperdoll .d3-icon-item-orange {
    border-color: #C29337;
}
.paperdoll .d3-icon-item-green {
    border-color: #87A73D;
}
.paperdoll .gear-lines {
    height: 356px;
opacity: 0.4;
    left: 197px;
    position: absolute;
    top: 31px;
    width: 304px;
    z-index: 1;
}
.paperdoll .gear-lines li {
    background: url(../ou7csh7l.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
    position: absolute;
}
.ie6 .paperdoll .gear-lines li {
    background: url(77/ou7csh7l.png);
}
.paperdoll .gear-lines .slot-head {
    background-position: 100% 0;
    height: 356px;
    right: 0;
    top: 0;
    width: 305px;
}
.paperdoll .gear-lines .slot-waist {
    background-position: 100% -196px;
    height: 12px;
    right: 0;
    top: 196px;
    width: 124px;
}
.paperdoll .gear-lines .slot-torso {
    background-position: 0 -84px;
    height: 24px;
    left: 0;
    top: 84px;
    width: 125px;
}
.paperdoll .gear-lines .slot-shoulders {
    background-position: 0 -24px;
    height: 1px;
    left: 0;
    top: 24px;
    width: 51px;
}
.paperdoll .gear-lines .slot-neck {
    background-position: 100% -69px;
    height: 1px;
    right: 0;
    top: 69px;
    width: 59px;
}
.paperdoll .gear-lines .slot-leftFinger {
    background-position: 0 -231px;
    height: 1px;
    left: 0;
    top: 231px;
    width: 37px;
}
.paperdoll .gear-lines .slot-rightFinger {
    background-position: 100% -241px;
    height: 28px;
    right: 0;
    top: 241px;
    width: 37px;
}
.paperdoll .gear-lines .slot-hands {
    background-position: 0 -162px;
    height: 1px;
    left: 0;
    top: 162px;
    width: 25px;
}
.paperdoll .gear-lines .slot-bracers {
    background-position: 100% -138px;
    height: 1px;
    right: 0;
    top: 138px;
    width: 25px;
}
.paperdoll .gear-lines .slot-legs {
    background-position: 0 -261px;
    height: 35px;
    left: 0;
    top: 261px;
    width: 133px;
}
.paperdoll .gear-lines .slot-feet {
    background-position: 100% 100%;
    bottom: 0;
    height: 21px;
    right: 0;
    width: 166px;
}
.paperdoll .gear-lines .slot-mainHand {
    background-position: 0 -370px;
    height: 1px;
    left: 0;
    top: 370px;
    width: 25px;
}
.paperdoll .gear-lines .slot-offHand {
    background-position: 100% -334px;
    height: 1px;
    right: 0;
    top: 334px;
    width: 25px;
}

.gear-slots {
    height: 425px;
    margin-bottom: 6px;
    position: relative;
    width: 305px;
	border-radius: 4px;
    box-shadow: 2px -2px 7px #1B1B1B;
}

.gear-slots li .slot-link {
    display: block;
    height: 86px;
    margin: 1px;
    width: 64px;
}
.gear-slots li .image {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.gear-slots li .image img {
    position: relative;
}
.gear-slots li .d3-icon {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}
.gear-slots li .d3-icon .icon-item-inner {
    display: block;
    height: 84px;
    width: 62px;
}
.gear-slots li .remove {
    left: 2px;
    top: 2px;
}
.gear-slots li .goto {
    left: 2px;
    top: 18px;
}
.gear-slots li.equipped:hover a {
    display: block;
}
.gear-slots li .sockets-wrapper {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.gear-slots li a:hover .sockets-wrapper {
    opacity: 1;
}
.gear-slots li .sockets-wrapper .sockets-align {
    display: table-cell;
    height: 88px;
    vertical-align: middle;
    width: 66px;
}
.gear-slots li .sockets-wrapper .socket {
    background: url("../../../images/profile/hero/skill-overlays.png") no-repeat scroll 0 -71px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 32px;
    left: 1px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 32px;
}
.ie6 .gear-slots li .sockets-wrapper .socket {
    background-image: url("../../../images/profile/hero/skill-overlays.gif");
}
.gear-slots li .sockets-wrapper .socket .gem {
    height: 20px;
    margin: 6px auto 0;
    width: 20px;
}
.gear-slots .slot-head, .gear-slots .slot-head .sockets-wrapper .sockets-align {
    height: 36px;
    width: 36px;
}
.gear-slots .slot-head .slot-link {
    height: 64px;
    width: 64px;
}
.gear-slots .slot-head .d3-icon .icon-item-inner {
    height: 62px;
    width: 62px;
}
.gear-slots .slot-torso, .gear-slots .slot-torso .sockets-wrapper .sockets-align {
    height: 115px;
    width: 82px;
}
.gear-slots .slot-torso .slot-link {
    height: 113px;
    width: 80px;
}
.gear-slots .slot-torso .d3-icon .icon-item-inner {
    height: 111px;
    width: 78px;
}
.gear-slots .slot-neck, .gear-slots .slot-neck .sockets-wrapper .sockets-align {
    height: 56px;
    width: 56px;
}
.gear-slots .slot-neck .slot-link {
    height: 54px;
    width: 54px;
}
.gear-slots .slot-neck .d3-icon .icon-item-inner {
    height: 52px;
    width: 52px;
}
.gear-slots .slot-waist, .gear-slots .slot-waist .sockets-wrapper .sockets-align {
    height: 34px;
    width: 82px;
}
.gear-slots .slot-waist .slot-link {
    height: 32px;
    width: 80px;
}
.gear-slots .slot-waist .d3-icon .icon-item-inner {
    height: 30px;
    width: 78px;
}
.gear-slots .slot-leftFinger, .gear-slots .slot-rightFinger, .gear-slots .slot-leftFinger .sockets-wrapper .sockets-align, .gear-slots .slot-rightFinger .sockets-wrapper .sockets-align {
    height: 42px;
    width: 42px;
}
.gear-slots .slot-leftFinger .slot-link, .gear-slots .slot-rightFinger .slot-link {
    height: 40px;
    width: 40px;
}
.gear-slots .slot-leftFinger .d3-icon .icon-item-inner, .gear-slots .slot-rightFinger .d3-icon .icon-item-inner {
    height: 38px;
    width: 38px;
}
.gear-slots .slot-offHand .disabled-off-hand {
    background: url("../../../images/profile/hero/disabled-offhand.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 130px;
    width: 66px;
}
.gear-slots .slot-offHand .disabled-off-hand .image {
    opacity: 0.3;
}
.gear-slots .slot-offHand .disabled-off-hand .image img {
    top: 1px;
}
.gear-slots .slot-offHand, .gear-slots .slot-mainHand, .gear-slots .slot-offHand .sockets-wrapper .sockets-align, .gear-slots .slot-mainHand .sockets-wrapper .sockets-align {
    height: 130px;
    width: 66px;
}
.gear-slots .slot-mainHand .slot-link, .gear-slots .slot-offHand .slot-link {
    height: 128px;
    width: 64px;
}
.gear-slots .slot-offHand .d3-icon .icon-item-inner, .gear-slots .slot-mainHand .d3-icon .icon-item-inner {
    height: 126px;
    width: 62px;
}

.gear-slots .slot-shoulders .image img {
    top: -20px;
}
.gear-slots .slot-neck .image img {
    height: 52px;
    top: 1px;
    width: 52px;
}
.gear-slots .slot-torso .image img {
    left: -1px;
    top: -25px;
}
.gear-slots .slot-waist .image img {
    top: -15px;
}

.gear-slots .slot-leftFinger .image img, .gear-slots .slot-rightFinger .image img {
    left: -12px;
    top: -12px;
}
.gear-slots .slot-legs .image img {
    top: -20px;
}
.gear-slots .slot-feet .image img {
    top: -20px;
}
.gear-slots .slot-head .image, .gear-slots .slot-shoulders .image, .gear-slots .slot-feet .image, .gear-slots .slot-bracers .image, .gear-slots .slot-hands .image {
    overflow: visible;
}
.gear-slots .slot-shoulders {
    clip: rect(-19px, 76px, 99px, -10px);
}
.gear-slots .slot-hands {
    clip: rect(-19px, 76px, 100px, -10px);
}
.gear-slots .slot-kopf {
    left: 136px;
    top: 20px;
    z-index: 12;
}
.gear-slots .slot-brust {
    left: 136px;
    top: 75px;
    z-index: 10;
}
.gear-slots .slot-kette {
    right: 186px;
    top: 75px;
    z-index: 1;
}
.gear-slots .slot-schulter {
    left: 190px;
    top: 75px;
    z-index: 13;
}
.gear-slots .slot-taille {
    left: 136px;
    top: 130px;
    z-index: 9;
}
.gear-slots .slot-waffe {
    right: 186px;
    top: 130px;
    z-index: 3;
}
.gear-slots .slot-hand {
    left: 189px;
    top: 130px;
    z-index: 4;
}
.gear-slots .slot-beine {
    bottom: 204px;
    left: 136px;
    z-index: 11;
}
.gear-slots .slot-reitlizens {
    bottom: 204px;
    left: 189px;
    z-index: 8;
}
.gear-slots .slot-dritthand {
    bottom: 204px;
    right: 186px;
    z-index: 5;
}
.gear-slots .slot-fuesse {
    bottom: 149px;
    left: 136px;
    z-index: 6;
}
.gear-slots .slot-buch {
    bottom: 127px;
    left: 83px;
    z-index: 2;
}
.gear-slots .slot-ring1 {
    bottom: 138px;
    right: 76px;
    z-index: 7;
}
.gear-slots .slot-ring2 {
    bottom: 107px;
    right: 76px;
    z-index: 7;
}
.gear-slots .slot:hover .image {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
}
.gear-slots .slot.icon-active .image {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}
.gear-slots .slot.slot-disabled {
    background: url("../../../images/tool/gear-calculator/slot-disabled.jpg") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    cursor: default;
}
.gear-slots .slot.slot-disabled .image {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.gear-slots .slot.is-quiver {
    background: url("../../../images/tool/gear-calculator/slot-quiver.jpg") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
}


.gear-slots .slot-shoulders {
    left: 39px;
    top: 28px;
    z-index: 10;
}
.gear-slots .slot-shoulders {
    clip: rect(-19px, 76px, 99px, -10px);
}


.gear-slots .slot-hands {
    clip: rect(-19px, 76px, 100px, -10px);
}
.gear-slots .slot-feet {
    bottom: 14px;
    left: 121px;
    z-index: 8;
}


.gear-slots .slot-torso {
    left: 113px;
    top: 74px;
    z-index: 13;
}
.gear-slots .slot-torso, .gear-slots .slot-torso .sockets-wrapper .sockets-align {
    height: 115px;
    width: 82px;
}




.paperdoll .gear-labels .slot-head {
    top: 6px;
}

.paperdoll .gear-labels .slot-head, .paperdoll .gear-labels .slot-neck, .paperdoll .gear-labels .slot-bracers, .paperdoll .gear-labels .slot-waist, .paperdoll .gear-labels .slot-feet, .paperdoll .gear-labels .slot-rightFinger, .paperdoll .gear-labels .slot-offHand {
    right: 0;
}





.paperdoll .gear-labels .gear-label .item-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 186px;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}

.profile-sheet .d3-color-gold {
    color: #FDCC00 !important;
}
.d3-color-orange, .d3-color-gold a {
    color: #FDCC00 !important;
}
.d3-color-orange, .d3-color-gold a {
    color: #BF642F !important;
}

.profile-sheet .d3-color-orange {
    color: #BB67FF !important;
}
.d3-color-orange, .d3-color-orange a {
    color: #BB67FF !important;
}
.d3-color-orange, .d3-color-orange a {
    color: #BF642F !important;
}
a {
    color: #A99877;
}


a:hover {
    color: #c1c1c1;
    transition: color 0.2s linear 0.2s;
}

ol, ul {
    list-style-type: none;
}
.profile-sheet {
    text-shadow: 0 1px 1px #000000;
}

.profile-sheet .gear-bonuses {
    left: 30px;
    position: absolute;
    top: 325px;
    width: 225px;
}

ol, ul {
    list-style-type: none;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}


.gear-slots {
 
    background: url("../images/equipment_slots.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 332px;
    left: 69px;
    position: absolute;
    top: -10px;
    width: 172px;
}
ol, ul {
    list-style-type: none;
}

.paperdoll .weapon-flourish.elemental-lightning {
    background-image: url("../../images/profile/hero/weapon-elements/lightning.png");
}
.paperdoll .weapon-flourish.main-hand-flourish {
    left: 200px;
    top: 258px;
}
.paperdoll .weapon-flourish {
    background-repeat: no-repeat;
    height: 166px;
    position: absolute;
    width: 128px;
}

.profile-sheet .class a strong {
    font-family: Arial,sans-serif;
}
.profile-sheet .class {
    top: 210px;
}
.profile-sheet .name, .profile-sheet .class {
    line-height: 100%;
    position: absolute;
    right: 515px;
    text-align: center;
    
  
    width: 700px;
}
body, h1, h2, h3, h4, h5, h6, button, input, textarea, small, big {
    font-size: 100%;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
.profile-sheet .name:first-letter {
    font-size: 66px;
    line-height: 48px;
    vertical-align: bottom;
}
.profile-sheet .name {
    color: #FFEAD4;
    font-size: 48px;
    line-height: 47px;
    text-transform: uppercase;
    top: 100px;
	left: -220px
}

.header-2, .header-2 a {
    color: #F3E6D0;
}
.header-2 {
    font: 42px/100% "Exocet Blizzard Light","Palatino Linotype","Times",serif;
    letter-spacing: -1.5px;
    text-shadow: 0 0 5px #1b1b1b;
    text-transform: uppercase;
}
body, h1, h2, h3, h4, h5, h6, button, input, textarea, small, big {
    font-size: 100%;
}
.profile-body {
    background: url("../../images/profile/hero/bg-stats.jpg") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    padding: 1px 0;
}
.profile-body {
    padding: 30px;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
body {
    color: #A99877;
    font: 13px/1.5 Arial,sans-serif;
	background: url("../images/bg32.jpg") no-repeat scroll 50% 0 #000000;
	
}
body, h1, h2, h3, h4, h5, h6, button, input, textarea, small, big {
    font-size: 100%;
}

 .profile-sheet {
    background: url(../bg32.jpg);
}
.profile-sheet {
    background-position: 50% 0;
    background-repeat: no-repeat;
    height: 712px;
    position: relative;
    text-shadow: 1px 1px 0 #000000;
}
.paperdoll .gear-labels .gear-label .item-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 186px;
}

.profile-sheet .gear-bonuses .help-icon {
    background: url(../help-icon.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    font-size: 1px;
    height: 25px;
    left: -2px;
    margin-right: 3px;
    position: relative;
    vertical-align: middle;
    width: 25px;
}


.wrapper {
    margin: 0 auto;
    position: relative;
    width: 994px;
}


.profile-sheet .class a {
    color: #D4B473;
    font-family: "Palatino Linotype","Times",serif;
    font-size: 14px;
    text-transform: none;
}


ui-tooltip

.item-view {
   

    font-size: 12px;
   
    padding: 5px;
}

.d3-color-lila {
    color: #9702C9 !important;
}

.d3-color-gold {
    color: #E2C952 !important;
}

.d3-color-weiss {
    color: #FAF6ED !important;
}

.d3-color-hellgruen {
    color: #C2E8B5 !important;
}
.d3-color-gruen {
    color: #01DD02 !important;
}

.d3-color-braun {
    color: #8A7445 !important;
}

.d3-color-gelb {
    color: #FFFF00 !important;
}
.Set-small {
font-size: 11px;
}

.itemname {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: -2px;
    vertical-align: top;
}
.icon-item{
    height: 36px;
    width: 36px;
}
.icon-item{
    background: url("../mage_items.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 1px;
    vertical-align: middle;
}
.icon-item-rarrow {
	background-color: #000000;
	border: 1px solid #9702C9;
	box-shadow: 0 0 1px #9702C9;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	padding: -8px;
}
.clear {
	clear: both;	
}

.slot {
	float: left;
	display: block;
	width: 40px;
	height: 60px;
	margin: 5px;	
}

.slot input {
	margin: 0 0 0 5px;
}

.editor {
	background: none repeat scroll 0 0 #1B1B1B;
    border: 1px solid #CECECE;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #1B1B1B;
    display: none;
    margin: 50px;
    max-width: 400px;
    min-width: 300px;
    padding: 25px;
	
}

.legend {
	font-size: 1em;
	font-weight: none;
	width: 100%;
	border-bottom: 2px solid #302920;
	margin: 0 0px 15px;
}


.profileditor {
    background: #1b1b1b;
	width: 500px;
	position: absolute;
    
    display: block;
    font-size: 11pt;
	
	border: 1px solid #1B1B1B;
    margin: 8px;
    padding: 8px;
	text-shadow: 0px 0px 0;
	left: -8px;
    top: 165px;
    z-index: 33;
    border-radius: 8px;
    box-shadow: 0 0 10px #000000;
    opacity: 1;
	min-width: 300px;
	max-width: 400px;
}


.clear {
	clear: both;	
}

.slot {
	float: left;
	display: block;
	width: 40px;
	height: 60px;
	margin: 5px;	
}

.slot input {
	margin: 0 0 0 5px;
}


.kommentar {
    background: url("../images/comments-bg.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 60px 30px 97px;
}
.kommentar-wrapper {
    background: none repeat scroll 0 0 #1b1b1b;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
	
}

.bg_inventory {
border-radius: 3px;
	-moz-box-shadow: inset 150px -50px 150px #1B1B1B;
-webkit-box-shadow: inset 150px -50px 150px #1B1B1B;
box-shadow: inset 150px -50px 150px #1B1B1B;

    
    height: 540px;
    left: 252px;
    opacity: 0.9;
    position: relative;
    top: 173px;
    width: 740px;
    z-index: 1;
	
	
	}
	
	.wappenemplem {
    background: url("../images/ornament.png") no-repeat scroll 0 0 / 250px auto rgba(0, 0, 0, 0);
    display: block;
    height: 136px;
    left: 0;
    opacity: 0.99;
    position: absolute;
    top: 142px;
    width: 295px;
    z-index: 22;
}
	.klassenwappen {
    background: url("../images/mage_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 5px none;
    display: block;
    height: 136px;
    left: 96px;
    opacity: 0.6;
    position: absolute;
    top: 149px;
    width: 295px;
    z-index: 66;
}
 #page {
      width:500px;
	   position: relative;
	   top: 120px;
	   left: 390px;
	   z-index: 14;
    }
    #rating {
      margin:0 auto;
      display:block;
      width:250px;
    }
    #rating li {
      float:left;
    }
    #rating .star_off {
      background: url(../images/star_off_48.png) no-repeat scroll left top / 25px auto rgba(0, 0, 0, 0);
	  opacity: 0.1;
	  
    }
    #rating .star_on {
      background:url(../images/star_48.png) no-repeat scroll left top / 25px auto rgba(0, 0, 0, 0);
    }
    #rating a {
      display:block;
      font-size:0px;
      width:48px;
      height:48px;
    }