@charset "UTF-8";

html, body {
    width: 100%;
    height: 100%;
}

html, body, ul, li, div, p {
    margin: 0;
    padding: 0;

    font-size: 1rem;
}

#page {
    background: #01DD02;
    width: 100%;
    height: 100%;
}

#theme-left {
    background: url('../img/bg_main_patri.jpg') no-repeat;
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

#theme-right {
    background: url('../img/bg_main_priester.jpg') no-repeat top right;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

#content {
    z-index: 100;
    position: absolute;
    background-color: #ffff00;
    height: 100%;
    width: 1024px;
    left: 50%;
    margin: 0;
    margin-left: -512px;
}



nav {
    background-color: #000000;
    color: #FFFFFF;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li ul {
    position: absolute;
    display: none;
    visibility: hidden;
}


nav ul li:hover ul {
    background-color: #01DD02;
    display: block;
    visibility: visible;
}

nav ul li ul li {
    position: relative;
    display: block;
}

nav ul li ul li:hover {
    background-color: #9702C9;
}

.box {
    position: absolute;
    top: 100px;
    left: 100px;
    display: block;
    width: 300px;
    height: 300px;
    border: 1px solid #000000;
    border-radius: 10px;
    /*-webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);*/
    box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.75);
    padding: 5px;
}