<link rel="icon" href="/GildenScript5/img/ewigkeit_16.png" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Ewigkeit - Gildenscript</title>			
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/items.css" />
<link rel="stylesheet" type="text/css" href="css/editor.css" />
<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.10.4.custom.min.css" />
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css" />

<script src="http://code.jquery.com/jquery-2.1.0.js"></script>
<script src="js/jquery-ui-1.10.4.min.js"></script>
<script src="js/jquery.serializejson.min.js"></script>
<script src="js/jquery.tablesorter.min.js"></script>
<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
