<?php
function linkUrl($dir, $site, $other = null) {
    $linkTpl = "index.php?dir=%s&site=%s";
    $link = sprintf($linkTpl, $dir, $site);
    if ($other !== null) {
        $link .= "&{$other}";
    }
    return $link;
}

function navLink($name, $dir, $site, $other = null) {
    $link = linkUrl($dir, $site, $other);
    $tpl = '<a href="%s">%s</a>';
    return sprintf($tpl, $link, $name);
}

function mainNavLink($name, $dir, $site, $other = null) {
    $link = linkUrl($dir, $site, $other);
    $tpl = '<a href="%s" class="menu-link">%s</a>';
    return sprintf($tpl, $link, $name);
}
?>
<ul id="menu-list" class="menu-list">
<?php if ($member['rolle'] > 0 && $member['status'] > 0) : ?>
    <li class="menu-item "><?= mainNavLink('Startseite', 'bereiche', 'startseite') ?></li>
    
    <?php if ($member['rolle'] > 3) : ?>
    <li class="menu-item "><?= mainNavLink('Events', 'admin', 'calender') ?></li>
    <?php endif; ?>
    
    <li class="menu-item "><a class="menu-link" nohref>DKP-System</a>
        <ul id="untermenu">
            <li><?= navLink('DKP - Übersicht', 'bereiche', 'overview') ?></li>
            <li><?= navLink('DKP - Einzelauflistung', 'bereiche', 'dkp') ?></li>
            <li><?= navLink('Mein Account', 'bereiche', 'pw', 'userId='.$member['id']) ?></li>
            <li><?= navLink('Ausrüstungs-Wunsch', 'bereiche', 'equip_wish') ?></li>
        </ul>
    </li>    
    <li class="menu-item "><?= mainNavLink('Gildenbank', 'bereiche', 'bank') ?></li>
	
	<?php if ($member['rolle'] > 1) : ?>
    <li class="menu-item "><a class="menu-link" nohref>Admin</a>
        <ul id="untermenu">
            <li><?= navLink('Members', 'admin', 'edit_members') ?></li>
            <li><?= navLink('Twinks', 'admin', 'twinks') ?></li>
            
            <?php if ($member['rolle'] > 2) : ?>
            <li><?= navLink('Beitrag', 'admin', 'beitrag_eintragen') ?></li>
            <li><?= navLink('Wochenbonus berechnen', 'admin', 'wochenbeitrag') ?></li>
            <li><?= navLink('DKP eintragen', 'admin', 'dkp_eintragen') ?></li>
            <?php endif; ?>
            
            <?php if ($member['rolle'] > 3) : ?>
            <li><?= navLink('Ruhm (DEV)', 'admin', 'honor') ?></li>
            <li><?= navLink('Ausrüstungs-Wunsch', 'admin', 'equip_wish') ?></li>
            <li><?= navLink('Editor (DEV)', 'admin', 'editor') ?></li>
            <li><?= navLink('Bank Admin', 'admin', 'bank_admin') ?></li>
            <li><?= navLink('Bestellungen', 'admin', 'bestellungen') ?></li>
            <li><?= navLink('Aktivität Mitglieder', 'admin', 'aktivitaet') ?></li>
            <!--<li><?= navLink('Mitglieder (DEV)', 'admin', 'members') ?></li>-->
            <?php endif; ?>
        </ul>
    </li>
    <?php endif; ?>
    
    <li class="menu-item"><a class="menu-link menu-marked" href="<?= linkUrl('bereiche', 'logout') ?>">Logout</a></li>
<?php else : ?>
    <li class="menu-item"><a class="menu-link menu-marked" href="<?= linkUrl('bereiche', 'login') ?>" title="Login nur für Gildenmember">Log in</a></li>
<?php endif; ?>	
</ul>