<div id="dlg-dkp-donate-user" title="DKP Spende an Member" style="display: none;">
    <p>Du hast zur Zeit <strong><?= $user->dkp ?></strong> DKP's zur Verfügung.</p>
    <p>Du möchtest gern einem Member der Gilde mit DKP's unterstützen oder einfach mal ein "DANKE" damit sagen?</p>
    <p>Bitte wähle den Namen des Spielers aus und erhalte Ruhm. </p>
    
    <form method="post" action="async/donate_user.php" onsubmit="return asyncDonate(this);">
        <input type="hidden" name="user" value="<?= $user->memberId ?>" />
        <table style="border: 0;">
            <tr>
                <td><label>Spieler:</label></td>
                <td colspan="">
                    <select name="donate" onChange="">
                		<option value="-1">Bitte wählen</option>
                		<?php foreach ($memberDkps as $memberDkp): ?>
                		<?php if ($memberDkp->memberId != $user->memberId && $memberDkp->dkp > 5): ?>
                		<option value="<?= $memberDkp->memberId; ?>"><?= $memberDkp->name.' ('.$memberDkp->dkp.')'; ?></option>
                		<?php endif; ?>
                		<?php endforeach; ?>
                	</select>
            	</td>
            	<td style="width: 60px"><label>erhält</label></td>
    	        <td>
    	           <input id="donate-user-dkp" type="text" readonly="readonly" name="dkpIn" value="3" style="width: 30px;" />
    	           DKP
	           </td>
        	</tr>
        	<tr>
        	   <td style="width: 60px"><label>Ich spende</label></td>
    	       <td>
    	           <input id="donate-dkp" type="text" readonly="readonly" name="dkpOut" value="4" style="width: 30px;" />
    	           DKP
	           </td>
        	   <td><label>erhalte</label></td>
    	       <td style="width: 160px">
    	           <input id="donate-user-honor" type="text" readonly="readonly" name="" value="2" style="width: 30px;" />
    	           <img src="img/Ruhm_Icon.png" width="22" height="21" align="bottom" />
    	           Ruhm
	           </td>
	           
           <tr>
    	   <tr>
    	       <td style="width: 50px;"><label>DKP:</label></td>
    	       <td colspan="3"><div id="slider-donate-user" style="width: 320px;"></div></td>
    	   </tr>    	   
    	   <tr>
    	       <td></td>
    	       <td colspan="3"><br /><input type="submit" value="Spenden" class="ui-button" /></td>
    	   </tr>    	   
    	</table>
	</form>
	<p><small>Pro DKP erhälst du 0,5 Ruhm.</small></p>
	<p><small>Von der Spende werden 20% Gebühr abgezogen.</small></p>
</div>

<script>
$(function() {	
    $( "#slider-donate-user").slider({
        range: "min",
        value: 4,
        min: 4,
        max: <?= $user->dkp ?>,
        slide: function(event, ui) {            
            $("#donate-user-honor").val(Math.floor(ui.value * 0.5));
            $("#donate-dkp").val(ui.value );
            $("#donate-user-dkp").val(Math.floor(ui.value * 0.8));
        }
    });
    
  }
);
</script>