<div id="dlg-dkp-donate-info" title="Weitere Möglichkeiten Ruhm zu erhalten" style="display: none;">
    <p>- jeder Monat in Ewigkeit 3 Ruhmpunkte</p>
    <p>- alle 5.000 Beitrag 2 Ruhmpunkte. Bereits Nx erhalten.</p>
    <p>- <a href="http://ewigkeit.shivtr.com/forum_threads/1400553?post=7588323#forum_post_7588323" target="_blank">Bargeldspenden</a> für Website und Teamspeak oder sonstiges wie Gildenbasiskerne (Spendenbetrag : 5 = Ruhmpunkte)</p>
    <p>- weitere in Arbeit</p>
</div>