<div id="dlg-dkp-donate-guild" title="DKP Spende an die Gilde" style="display: none;">    
    <p>Du hast zur Zeit <strong><?= $user->dkp ?></strong> DKP's zur Verfügung.</p>
    <p>Zeig der Gilde das du auch ohne DKP's bereit bist für die Gilde da zu sein und werde Ruhmreich.</p>    
    
    <form method="post" action="async/donate_guild.php" onsubmit="return asyncDonate(this);">
        <input type="hidden" name="user" value="<?= $user->memberId ?>" />
        <table style="border: 0;">
        	<tr>
        	   <td><label>Ruhm:</label></td>
    	       <td style="width: 160px">
    	           <input id="donate-guild-honor" type="text" readonly="readonly" name="honor" value="3" style="width: 30px;" />
    	           <img src="img/Ruhm_Icon.png" width="22" height="21" align="bottom" />
	           </td>
	           <td style="width: 60px"><label>Spende:</label></td>
    	       <td>
    	           <input id="donate-guild-dkp" type="text" readonly="readonly" name="dkp" value="3" style="width: 30px;" />
	           </td>
           <tr>
    	   <tr>
    	       <td style="width: 50px;"><label>DKP:</label></td>
    	       <td colspan="3"><div id="slider-donate-guild" style="width: 320px;"></div></td>
    	   </tr>
    	   <tr>
    	       <td><br /><label>Kommentar:</label></td>
    	       <td colspan="3"><br /><textarea name="comment" style="width: 320px; height: 30px; resize: none;"></textarea></td>
	       </tr>    	   
    	   <tr>
    	       <td></td>
    	       <td colspan="3"><br /><input type="submit" value="Spenden" class="ui-button" /></td>
    	   </tr>    	   
    	</table>
	</form>
</div>

<script>
$(function() {	
    $( "#slider-donate-guild").slider({
        range: "min",
        value: 3,
        min: 3,
        max: <?= $user->dkp ?>,
        slide: function(event, ui) {            
            $("#donate-guild-honor").val(ui.value );
            $("#donate-guild-dkp").val(ui.value);
        }
    });
    
  }
);
</script>