<?php
function checkedRadio($check, $value)
{
    if ($check == $value) {
        return 'checked="checked"';
    }
    return '';
}

function htmlRadioSelection($name, $value)
{
    $tpl = '<div id="' . $name . '">
                <input type="radio" value="1" id="' . $name . '1" name="' . $name . '" ' . checkedRadio(
            1,
            $value
        ) . '><label for="' . $name . '1" class="eq-plus ui-icon ui-icon-plus"></label>
                <input type="radio" value="2" id="' . $name . '2" name="' . $name . '" ' . checkedRadio(
            2,
            $value
        ) . '><label for="' . $name . '2" class="eq-minus ui-icon ui-icon-minus"></label>
                <input type="radio" value="3" id="' . $name . '3" name="' . $name . '" ' . checkedRadio(
            3,
            $value
        ) . '><label for="' . $name . '3" class="eq-help ui-icon ui-icon-help"></label>
                <input type="radio" value="4" id="' . $name . '4" name="' . $name . '" ' . checkedRadio(
            4,
            $value
        ) . '><label for="' . $name . '4" class="eq-check ui-icon ui-icon-check"></label>
            </div>';

    return $tpl;
}

?>
<style>
    #wishlist {
        border-spacing: 10px;
        border: 0px;
    }

    .eq-plus.ui-state-active {
        background-color: #00FF00;
    }

    .eq-minus.ui-state-active {
        background-color: #FF0000;
    }

    .eq-help.ui-state-active {
        background-color: #FFFF00;
    }

    .eq-check.ui-state-active {
        background-color: #FFFFFF;
    }
</style>
<div class="ui-corner-all" style="padding: 15px; max-width: 880px; border: 1px solid #CECECE;">
    <form action="" onsubmit="return false" method="POST">
        <input type="hidden" name="dir" value="bereiche"/>
        <input type="hidden" name="site" value="equip_wish"/>
        <input type="hidden" name="act" value="save_wish"/>
        <label><strong>Charakter Klasse:</strong></label>
        <select name="charClassId">
            <option value="0">-Bitte auswählen-</option>
            <?php foreach ($charClasses as $charClass): ?>
                <option value="<?= $charClass['id'] ?>" <?= selected(
                    $charClass['id'],
                    $entity->charClassId
                ) ?>><?= $charClass['description'] ?></option>
            <?php endforeach; ?>
        </select>
        <br/><br/>

        <table id="wishlist">
            <tr>
                <th></th>
                <th>Waffe</th>
                <th>Kopf</th>
                <th>Brust</th>
                <th>Schultern</th>
                <th>Taille</th>
                <th>Hände</th>
                <th>Beine</th>
                <th>Füsse</th>
            </tr>
            <tr>
                <td><strong>Vexxer-/GK-Set Lv. 77</strong></td>
                <td><?= htmlRadioSelection('vexxer77_weapon', $entity->vexxer77->weapon) ?></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><?= htmlRadioSelection('vexxer77_hands', $entity->vexxer77->hands) ?></td>
                <td></td>
                <td><?= htmlRadioSelection('vexxer77_boots', $entity->vexxer77->boots) ?></td>
            </tr>
            <tr>
                <td><strong>Vexxer-/GK-Set Lv. 85</strong></td>
                <td><?= htmlRadioSelection('vexxer85_weapon', $entity->vexxer85->weapon) ?></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><?= htmlRadioSelection('vexxer85_hands', $entity->vexxer85->hands) ?></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Vexxer-/GK-Set Lv. 90</strong></td>
                <td><?= htmlRadioSelection('vexxer90_weapon', $entity->vexxer90->weapon) ?></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><?= htmlRadioSelection('vexxer90_hands', $entity->vexxer90->hands) ?></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Vexxer-/GK-Set Lv. 95</strong></td>
                <td><?= htmlRadioSelection('vexxer95_weapon', $entity->vexxer95->weapon) ?></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Elementar-Set Lv. 77</strong></td>
                <td></td>
                <td><?= htmlRadioSelection('ele77_head', $entity->elementar77->head) ?></td>
                <td><?= htmlRadioSelection('ele77_body', $entity->elementar77->body) ?></td>
                <td><?= htmlRadioSelection('ele77_shoulders', $entity->elementar77->shoulders) ?></td>
                <td><?= htmlRadioSelection('ele77_belt', $entity->elementar77->belt) ?></td>
                <td><?= htmlRadioSelection('ele77_hands', $entity->elementar77->hands) ?></td>
                <td><?= htmlRadioSelection('ele77_leg', $entity->elementar77->leg) ?></td>
                <td><?= htmlRadioSelection('ele77_boots', $entity->elementar77->boots) ?></td>
            </tr>
            <tr>
                <td><strong>Elementar-Set Lv. 85</strong></td>
                <td></td>
                <td><?= htmlRadioSelection('ele85_head', $entity->elementar85->head) ?></td>
                <td><?= htmlRadioSelection('ele85_body', $entity->elementar85->body) ?></td>
                <td><?= htmlRadioSelection('ele85_shoulders', $entity->elementar85->shoulders) ?></td>
                <td><?= htmlRadioSelection('ele85_belt', $entity->elementar85->belt) ?></td>
                <td><?= htmlRadioSelection('ele85_hands', $entity->elementar85->hands) ?></td>
                <td><?= htmlRadioSelection('ele85_leg', $entity->elementar85->leg) ?></td>
                <td><?= htmlRadioSelection('ele85_boots', $entity->elementar85->boots) ?></td>
            </tr>
            <tr>
                <td><strong>Elementar-Set Lv. 95</strong></td>
                <td></td>
                <td><?= htmlRadioSelection('ele95_head', $entity->elementar95->head) ?></td>
                <td><?= htmlRadioSelection('ele95_body', $entity->elementar95->body) ?></td>
                <td><?= htmlRadioSelection('ele95_shoulders', $entity->elementar95->shoulders) ?></td>
                <td><?= htmlRadioSelection('ele95_belt', $entity->elementar95->belt) ?></td>
                <td><?= htmlRadioSelection('ele95_hands', $entity->elementar95->hands) ?></td>
                <td><?= htmlRadioSelection('ele95_leg', $entity->elementar95->leg) ?></td>
                <td><?= htmlRadioSelection('ele95_boots', $entity->elementar95->boots) ?></td>
            </tr>
        </table>
        <input type="submit" value="Speichern" onclick="this.form.submit()"/>
    </form>
</div>

<script>
    $(function () {
        $("#vexxer77_weapon").buttonset();
        $("#vexxer77_hands").buttonset();
        $("#vexxer77_boots").buttonset();

        $("#vexxer85_weapon").buttonset();
        $("#vexxer85_hands").buttonset();

        $("#vexxer90_weapon").buttonset();
        $("#vexxer90_hands").buttonset();

        $("#vexxer95_weapon").buttonset();

        $("#ele77_weapon").buttonset();
        $("#ele77_head").buttonset();
        $("#ele77_body").buttonset();
        $("#ele77_shoulders").buttonset();
        $("#ele77_hands").buttonset();
        $("#ele77_belt").buttonset();
        $("#ele77_leg").buttonset();
        $("#ele77_boots").buttonset();

        $("#ele85_weapon").buttonset();
        $("#ele85_head").buttonset();
        $("#ele85_body").buttonset();
        $("#ele85_shoulders").buttonset();
        $("#ele85_hands").buttonset();
        $("#ele85_belt").buttonset();
        $("#ele85_leg").buttonset();
        $("#ele85_boots").buttonset();

        $("#ele95_weapon").buttonset();
        $("#ele95_head").buttonset();
        $("#ele95_body").buttonset();
        $("#ele95_shoulders").buttonset();
        $("#ele95_hands").buttonset();
        $("#ele95_belt").buttonset();
        $("#ele95_leg").buttonset();
        $("#ele95_boots").buttonset();

    });
</script>